.filterContainer {
  width: 200px;
  margin: 0 auto;

  .select {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    color: #ffffff;
    background-color: #0f212e;
    border: 1px solid #0f212e;
    border-radius: 6px;
    outline: none;
    cursor: pointer;

    &:hover {
      border-color: #1c3a4b;
    }

    option {
      color: #ffffff;
    }
  }
}
